
/*
  Fonts
  Pattaya
  Merriweather Sans
  Cabin
*/

:root {
  --light-brand-color: #14bca8;
  --dark-brand-color: #21897e;
  --accent-color: #ff9f1c;
  --alert-color: #a20021;
  --light-background-color: #f6f7eb;
  --border-radius: 5px;
}

/*:root {
  --light-brand-color: #abf0e9;
  --dark-brand-color: #63b7af;
  --accent-color: #ff9f1c;
  --alert-color: #a20021;
  --light-background-color: #f6f7eb;
}*/

#root {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

body {
  font-family: 'Cabin', sans-serif;
}

input, button {
  border-radius: var(--border-radius);
  font-family: 'Cabin', sans-serif;
}

input[type=text] {
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

.header {
  height: 3.5em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 2px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, .3); */
}

.footer {
  width: 100vw;
  height: 4em;
  padding: 0 1em;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menuButton {
  height: 2.5em;
  width: 2.5em;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.menuButton > svg {
  fill: var(--light-brand-color);
}

.menuButton:hover {
  opacity: 1;
}

.App {
  width: 200vw;
  display: flex;
  transition: transform .1s;
}

.App.overview {
  transform: translate(-100vw);
}

.ListView {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.DetailView {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.ListViewMain {
  padding: 0 1em;
}

.ListViewToDoList {
  font-family: 'Merriweather Sans', sans-serif;
  width: 100%;
  display: block;
  margin: 1em 0;
  padding: 0 1em;
  min-height: 4em;
  text-align: left;
  border: solid 1px #888;
  background: none;
  cursor: pointer;
  transition: background-color .1s;
}

.ListViewToDoList:hover {
  background-color: #eee;
}

.ListViewHeader {
  justify-content: space-between;
}


.ListViewSearchBarLogo {
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}

.ListViewSearchBar {
  width: 50%;
  font-size: 1em;
  height: 2.5em !important;
  margin-right: 1em;
  padding: 0 3em;
  flex-grow: 1;
  border: none;
  background: none;
}

.ListViewBackButton:disabled {
  opacity: .2;
  cursor: default;
}

.ListViewBackButton:disabled > svg {
  fill: black;
}

.ListViewFooter {
  width: 50%;
  height: 5em;
  margin: 0 auto;
  padding: 0;
}

.ListViewAddButton {
  width: 5em;
  height: 5em;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.ListViewAddButton > svg {
  fill: var(--light-brand-color);
}

.ListViewAddButton:hover {
  opacity: 1;
}

.ToDoList {
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
}

.ToDoListTitle {
  width: 80%;
  margin: 1em 0 .3em 0;
  padding: 0;
  font-size: 2em;
  font-family: 'Merriweather Sans', sans-serif;
  border: none;
}

.ToDoListBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ToDoItems {
  width: 100%;
}

.ToDoItem {
  height: 3em;
  /*padding-left: 5%;*/
  padding: .4em 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ToDoItemCheckbox {
  height: 2em;
  width: 2em;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  opacity: .2;
  cursor: pointer;
}

.ToDoItem.checked > .ToDoItemCheckbox {
  opacity: 1;
}

.ToDoItem.checked > .ToDoItemCheckbox > svg {
  fill: var(--light-brand-color);
}

.ToDoItemTitle {
  margin: 0 1em;
  padding: 0 .5em;
  flex-grow: 1;
  border: none;
  background: none;
}

.ToDoItem.checked > .ToDoItemTitle {
  text-decoration: line-through;
  opacity: .3;
}

.ToDoItemDelete {
  height: 2em;
  width: 2em;
  padding: 0;
  border: none;
  background: none;
  opacity: .2;
  cursor: pointer;
}

.ToDoItemDelete:hover {
  opacity: 1;
}

.ToDoItemDelete:hover > svg {
  fill: var(--alert-color);
}

.AddItemBar {
  height: 3em;
  width: 100%;
  padding: .4em 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AddItemBarLogo {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  visibility: hidden;
}

.AddItemBarTitle {
  margin: 0 1em;
  padding: 0 .5em;
  flex-grow: 1;
  border: none;
  background: none;
}

.AddItemBarButton {
  height: 2em;
  width: 2em;
  padding: 0;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  justify-content: center;
}

.AddItemBarButton > svg {
  fill: var(--light-brand-color);
}

.AddItemBarButton:hover{
  opacity: 1;
}

.AddItemBarButton:disabled {
  opacity: .2;
  cursor: default;
}

.AddItemBarButton:disabled > svg {
  fill: black;
}

.HeaderSpacer {
  height: 2em;
  width: 2em;
}

.HeaderTitle {
  margin: 0;
  font-size: 2em;
  text-align: center;
  flex-grow: 1;
  font-family: 'Pattaya', sans-serif;
  color: var(--light-brand-color);
}
